

.text-field, .text-area, .date-picker {
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;
}

.button {
    -fx-background-color: #0086b3;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
}

.error-label,.capaciteEventErrorLabel,.lieuEventErrorLabel,.timeEventErrorLabel,.dateEventErrorLabel,.descEventErrorLabel,.nomEventErrorLabel {
    -fx-text-fill: red;
}