/* Style général pour la page */
.main-container {
    -fx-background-color: #f5f5f5;
    -fx-padding: 20;
    -fx-border-color: #0086b3;
}


.main-card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-padding: 20;

}

/* Style pour le titre de la page */
.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* Style pour la barre de recherche */
.search-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #999999;
}



/* Style pour les cartes d'équipe */
.equipes-container {
    -fx-spacing:5;
    -fx-background-color: white;
}

/* Style pour les boutons dans les cartes d'équipe */
.card-button {
    -fx-background-radius: 5;
    -fx-padding: 5 10;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.details-button {
    -fx-background-color: #0086b3;
}

.details-button:hover {
    -fx-background-color: #006699;
}

.modifier-button {
    -fx-background-color: #ff9800;
}

.modifier-button:hover {
    -fx-background-color: #e68900;
}

.supprimer-button {
    -fx-background-color: #f44336;
}

.supprimer-button:hover {
    -fx-background-color: #d32f2f;
}
/* Style pour le conteneur des boutons et de la barre de recherche */
.button-search-container {
    -fx-spacing: 10; /* Espacement entre les éléments */
    -fx-alignment: CENTER_RIGHT; /* Aligner les éléments à droite */
}

/* Style pour la barre de recherche */
.search-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #999999;
    -fx-pref-width: 200; /* Largeur réduite */
    -fx-pref-height: 35; /* Hauteur réduite */
}

/* Style pour le bouton Ajouter une équipe */
.button-ajouter {
    -fx-background-color: #0086b3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 5 15; /* Padding réduit */
    -fx-pref-width: 150; /* Largeur réduite */
    -fx-pref-height: 35; /* Hauteur réduite */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.button-ajouter:hover {
    -fx-background-color: #006699;
}

/* Style pour le bouton Supprimer tout */
.supprimer-tout-button {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 5 15; /* Padding réduit */
    -fx-pref-width: 120; /* Largeur réduite */
    -fx-pref-height: 35; /* Hauteur réduite */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.supprimer-tout-button:hover {
    -fx-background-color: #d32f2f;
}